<div class="card">
  <img
    class="card__image"
    src="https://placehold.co/400x200"
    alt="<%= product.name %>"
  />
  <h3 class="card__title"><%= product.name %></h3>
  <p class="card__description"><%= product.description %></p>
  <p class="card__price"><%= product.price %> PLN</p>
  <a href="/products/<%= product.name %>">Details</a>
  <button onclick="deleteProduct('<%= product.name %>')">Delete</button>
</div>
